<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-icon-180x180.png">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>INSTAR Wiki Search</title>
  <% include _searchcss.ejs %>
</head>