<div class="flex-nav shadow">
    <div class="logo">
      <a href="/"><img src="/images/instar_logo.png" alt="list item 1" /></a>
    </div>
    <button><a href="/Products/">Products</a></button>
    <button ><a href="/Quick_Installation/">Quick Installation</a></button>
    <button><a href="/Motion_Detection/">Motion Detection</a></button>
    <button><a href="/Internet_Access/">Remote Access</a></button>
  </div>
</div>